/* Hero Section */
.hero{
  position: relative;
  margin-top: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 300px;
  z-index: 50;
}
.selengkapnya{
  display: none;
  position: absolute;
  padding: 20px 30px 30px 20px;
  background-color: white;
  width: 80%;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 40;
}
.selengkapnya p{
  color: #000000;
}
.btn-tutup-selengkapnya{

}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 40;
}
.overlay-about {
  display: none;
  position: fixed;
  top: 62%;
  left: 50%;  
  transform: translate(-50%, -50%);
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px);
  z-index: 50;
}
.overlay-paket {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px);
  z-index: 50;
}
.overlay-selengkapnya {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px);
  z-index: 40;
}
.overlay-booking {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px);
  z-index: 50;
}

.box{
  margin-left: 120px;
  width: 60%;
  transition: all .3s ease;
}
.box h1{
  align-items: center;
}
.box p{
  margin-top: 20px;
  width: 65%;
}
.btn-selengkapnya{
  margin-top: 20px;
  width: fit-content;
  padding: 10px 20px;
  color: white;
  font-weight:bold;
  border: none;
  border-radius: 10px;
  background-color: #0050b3;
  cursor: pointer;
}
.btn-selengkapnya:hover{
  background-color: rgba(0, 80, 179, 0.6);
  transition: all .3s ease;
}

#slider{
  display: flex;
  justify-content: end;
  position: relative;
  width: 400px;
  height: 250px;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 800px;
  transform-style: preserve-3d;
}
input[type=radio] {
  display: none;
  position: relative;
  top: 80%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}

input[type=radio]:nth-child(5) {
  margin-right: 0px;
}
input[type=radio]:checked {
  opacity: 1;
}

#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: end;
  transition: transform 400ms ease;
}



/* Slider Functionality */
/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(33.333%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(66.666%, 0, -200px); /* Adjusted translate3d value */
}

/* Previous Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-33.333%, 0, -100px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-11.111%, 0, -200px); /* Adjusted translate3d value */
}

/* Previous to Previous Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-60%, 0, -200px);
}

/* Center the images within the slides */
#slide1 img,
#slide2 img,
#slide3 img {
  display: block;
  margin: 0 auto;
}



/* About Section */

.about{
  z-index: 100;
  position: relative;
}
.box-about{
  display: flex;
  justify-content: center;
  margin-bottom: 400px;
  padding-top: 100px;
}
.about img{
  padding-left: 120px;
  padding-right: 20px;
  width: 25%;
}
.desc-about{
  width: 100%;
}
.desc-about h1{
  font-size: 50px;
}
.desc-about h1 span{
  text-decoration: underline solid tomato;
}
.desc-about p{
  padding-bottom: 20px;
}
.button{
  display: flex;
}
.btn{
  padding: 7px 25px;
  border: 2px solid tomato;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 15px;
  transition: all .5s ease;
  cursor: pointer;
}
.btn2{
  padding-top: 20px;
  display: flex;
  color: tomato;
}
.btn1{
  display: flex;
  align-items: center;
  background-color: tomato;
  color: #081b29;
}
.btn:hover{  
  background-color: tomato;
  color: #081b29;
}
.btn1:hover {
  color: tomato;
  background-color: transparent;
}
.jadwal-trip{
  display: none;
  position: absolute;
  width: 70%;
  top: 60%;
  left: 50%;  
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 20px 60px 20px;
  border-radius: 20px;
  z-index: 100;
}
.jadwal-trip table, .jadwal-trip td{
  border: none;
  color: black;
}
.jadwal-trip tr{
  width: fit-content;
}
.jadwal-trip table td:nth-child(1){
  padding-right: 20px;
  align-items: center;
  text-align: end;
  width: 20%;
}
.jadwal-trip table td:nth-child(2){
  width: 100%;
}
.btn-tutup, .btn-tutup-paket1, .btn-tutup-paket2, .btn-tutup-selengkapnya{
  position: absolute;
  color: #000000;
  background-color: tomato;
  font-weight: bold;
  padding: 10px 15px;
  right: 20px;
  bottom: 10px;
  border-radius: 12px;
  transition: all .5s ease;
  border: none;
  cursor: pointer;
}
.btn-tutup:hover, .btn-tutup-paket1:hover, .btn-tutup-paket2:hover, .btn-tutup-selengkapnya:hover{
  background-color: red;
  color: #fff;
}

/* Paket Wisata Section */
.btn-paket-wisata{
  display: flex;
  justify-content: space-around;
}
.btn-paket1, .btn-paket2{
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  padding: 20px 20px 10px;
  transition: all .3s ease;
}
.btn-paket1:hover, .btn-paket2:hover{
  scale: 1.02;
  transition: all .3s ease;
}
.btn-paket-wisata img{
  width: 300px;
  border-radius: 20px;
}
.btn-paket-wisata h1{
  text-align: center;
  color: #000000;
}
.container-paket-wisata{
  display: flex;
  justify-content: center;
  align-items: center;
}
.paket-wisata{
  padding-top: 100px;
  z-index: 50;
  position: relative;
  height: 900px;
}
.paket1, .paket2{
  display: none;
  height: fit-content;
  position: absolute;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  top: 13%;
  z-index: 100;
}
.box-content{
  display: flex;
  column-gap: 20px;
}
.content1 p, .content2 p, .content1 li, .content2 li{
  color: #000000;
}
.content1 ul, .content2 ul{
  list-style-position: inside;
}




/* Sewa Jeep Section */
.container-sewa-jeep{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 60px;  
  height: fit-content;
}
.jeep{
  background-color: rgba(255, 255, 255, 0.8);
  width: 380px;
  height: 260px;
  border-radius: 30px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  box-shadow: 0 8px 8px rgba(0,0,0,0.6);
  cursor: pointer;
  transition: all .3s ease;
}
.jeep:hover{
  scale: 1.02;
}
.left-jeep{
  padding-left: 20px;
}
.nama-paket-jeep, .harga-jeep{
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.harga-jeep{
  padding-top: 10px;
  text-decoration: overline solid tomato;
}
.img-jeep{
  border-radius: 20px;
}
.img-jeep img{
  width: 180px;
  margin-right: 25px;
  border-radius: 20px;
}
.container-sewa-jeep{
  position: relative;
  height: fit-content;
}
.box-jeep{
  position: relative;
}
.detail-sewa-jeep1, .detail-sewa-jeep2, .detail-sewa-jeep3,
.detail-sewa-jeep4, .detail-sewa-jeep5, .detail-sewa-jeep6{
  top: 20px;
  position: absolute;
  display: none;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 380px;
  height: fit-content;
  border-radius: 20px;
  transition: all .3s ease;
}
.close-btn1, .close-btn2, .close-btn3,
.close-btn4, .close-btn5, .close-btn6{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 10px;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.close-btn1:hover, .close-btn2:hover, .close-btn3:hover,
.close-btn4:hover, .close-btn5:hover, .close-btn6:hover{
  scale: 1.2;
  transition: all .3s ease;
}
.fasilitas-sewa-jeep p, .fasilitas-sewa-jeep ul li,
.meeting-point-jeep p, .meeting-point-jeep li{
  color: #000000;
  margin-left: 20px;
}
.fasilitas-sewa-jeep{
  padding-top: 10px;
}
.fasilitas-sewa-jeep ul, .meeting-point-jeep ul{
  padding-left: 20px;
}
.meeting-point-jeep{
  padding-top: 10px;
  padding-bottom: 14px;
}
.meeting-point-jeep p img{
  padding-right: 8px;
}

.title-sewa-jeep-family{
  margin-top: 40px;
  text-align: center;
  margin-bottom: 10px;
}

/* Destinasi Section */

.destinasi{
  margin-top: 200px;
  padding-top: 270px;
}
.container-destinasi{
  position: relative;
  margin-top: 100px;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  width:1000px;
  height:600px;
  padding:50px;
  background-color: transparent;
  box-shadow: 0 30px 50px #000000;
}
#slide{
  width:max-content;
  margin-top:50px;
}
.item{
  width:200px;
  height:300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top:50%;
  transform: translate(0,-50%);
  border-radius: 20px;
  box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
  left:0;
  top:0;
  transform: translate(0,0);
  border-radius: 20px;
  width:100%;
  height:100%;
  box-shadow: none;
}
.item:nth-child(3){
  left:54%;
}
.item:nth-child(4){
  left:calc(54% + 120px);
}
.item:nth-child(5){
  left:calc(54% + 250px);
}
.item:nth-child(n+6){
  left:calc(54% + 290px);
  opacity: 0;
}
.item .content{
  position: absolute;
  top:50%;
  left:100px;
  width:300px;
  text-align: left;
  padding:0;
  color:#7a4141;
  transform: translate(0,-50%);
  display: none;
  font-family: system-ui;
}
.item:nth-child(2) .content{
  display: block;
  z-index: 99;
}
.item .name{
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation:showcontent 0.5s ease-in-out 1 forwards
}
.item .des{
  margin:20px 0;
  opacity: 0;
  animation:showcontent 0.5s ease-in-out 0.3s 1 forwards
}
.item button{
  padding:10px 20px;
  border:none;
  opacity: 0;
  animation:showcontent 0.5s ease-in-out 0.3s 1 forwards
}
@keyframes showcontent{
  from{
      opacity: 0;
      transform: translate(0,100px);
      filter:blur(33px);
  }to{
      opacity: 1;
      transform: translate(0,0);
      filter:blur(0);
  }
}
.buttons{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom:30px;
  z-index: 100;
  text-align: center;
  width:90%;
}
.buttons button{
  width:50px;
  height:50px;
  border-radius: 50%;
  border:1px solid #555;
  transition: 0.5s;
  cursor: pointer;
}
.content button{
  background-color: #0050b3;
  border-radius: 20px;
  cursor: pointer;
}
.content button:hover{
  background-color: rgb(1, 65, 142);
  transition: all .3s ease;
}
#next, #prev{
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: #0050b3;
  cursor: pointer;
}
#next:hover, #prev:hover{
  background-color: rgb(1, 65, 142);
  transition: all .3s ease;
}


/* Booking Section */

.booking{
  z-index: 200;
  position: relative;
  height: fit-content;
  margin-top: 100px;
}
.booking .box-booking {
  color: white;
  text-align: center;
}

.booking .box-booking h1{
  margin-bottom: 50px;
}

.booking .box-booking h3 {
  font-weight: 400;
  margin-bottom: 10px;
  animation: animasi;
  -webkit-animation: animasi 2s infinite;
}

@keyframes animasi {
  0% {
      transform: scale(0.8);
  }
  50% {
      transform: scale(1);
  }
  100% {
      transform: scale(0.8);
  }
}


.booking .box-booking p{
  border: none;
  display: flex;
  align-items: center;
  width: fit-content;
  min-height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #053e83;
  color: white;
  padding-inline: 10px;
}
.box-booking p:hover{
  scale: 1.02;
}
.btn-booking{
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.booking .box-booking p i{
  padding-right: 10px;
}
.container-booking{
  display: none;
  position: absolute;
  padding-bottom: 100px;
  width: 80%;
  left: 10%;
  transform: translate(0, 0%);
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  z-index: 2000;
}
.container header{
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form{
  margin-top: 30px;
}
.form .input-box{
  width: 100%;
  margin-top: 20px;  
}
.input-box label{
  color: #333;
}
.form :where(.input-box input, .select-box){
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 10px;
}
.input-box input:focus{
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column{
  display: flex;
  column-gap: 15px;
}
.form .paket-box{
  margin-top: 20px;
}
.paket-box h3{
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.paket-option, .paket) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .paket{
  column-gap: 5px;
}
.paket input{
  accent-color: rgb(130, 106, 251);
}
.form :where(.paket input, .paket label){
  cursor: pointer;
}
.paket p{
  background-color: rgb(130, 106, 251);
  padding: 20px;
  border-radius: 20px;
  color: white;
}
.address :where(input, .select-box){
  margin-top: 15px;
}
.select-box select{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.select-box select option{
  color: #000000;
}
.form button{
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}

.form button:hover{
   background-color: rgb(88, 56, 250);
}

/* Footer */

.footer {
  bottom: 10px;
  margin-top: 20px;
  padding-top: 10px;
  background-color: #0050b3;
}

.footer .box-footer {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 10px 0 10px;
  
}

.footer .box-footer .wrap{
  color: white;
}

.footer .box-footer .wrap span{
  font-weight: bold;
}
.wrap p {
  width: fit-content;
}
.wrap{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.wrap a{
  text-decoration: none;
  color: white;
}
